In [8]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [2]:
df=pd.read_csv('covid_toy.csv')

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [9]:
df['cough'].unique()

array(['Mild', 'Strong'], dtype=object)

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns=['has_covid']),df['has_covid'],test_size=0.2)

In [7]:
x_train

    age  gender  fever   cough       city
2    42    Male  101.0    Mild      Delhi
68   54  Female  104.0  Strong    Kolkata
21   73    Male   98.0    Mild  Bangalore
48   66    Male   99.0  Strong  Bangalore
8    19  Female  100.0  Strong  Bangalore
..  ...     ...    ...     ...        ...
65   69  Female  102.0    Mild  Bangalore
20   12    Male   98.0  Strong  Bangalore
90   59  Female   99.0  Strong      Delhi
64   42    Male  104.0    Mild     Mumbai
62   56  Female  104.0  Strong  Bangalore

[80 rows x 5 columns]

In [16]:
transformer = ColumnTransformer(transformers=[
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories=[['Mild', 'Strong']]), ['cough']),
    ('tnf3', OneHotEncoder(sparse=False, drop='first'), ['gender', 'city'])
], remainder='passthrough')

In [17]:
transformer.fit_transform(x_train).shape

C:\Users\NIKITA\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [19]:
transformer.transform(x_test).shape

(20, 7)